@using Prodaja_Softvera_ver3.Data.EntityModels
@using Prodaja_Softvera_ver3.Web.Helper
@using Microsoft.AspNetCore.Http

@{
    KorisnickiNalog user = Context.GetLogiraniKorisnik();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prodaja_Softvera_ver3.Web</title>

    <!-- Bootstrap-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <!-- Brand Logo -->
            <div>
                <a href="#">
                    <img src="~/img/sp2.png" alt="SP Logo" style="opacity: .8">
                </a>
            </div>
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Prodaja Softver</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    @if (user?.TipKorisnickogNaloga == "Klijent")
                    {
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Index">Početna</a></li>

                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="KlijentModul" asp-controller="SoftvareKlijent" asp-action="Index">Softver</a>
                        </li>

                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="KlijentModul" asp-controller="Narudzbe" asp-action="Index">Korpa</a>

                        </li>

                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="KlijentModul" asp-controller="Racun" asp-action="Index">Racun</a>
                        </li>


                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="KlijentModul" asp-controller="Klijent" asp-action="Index" asp-route-id="@user?.ID">Profil</a>
                        </li>

                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="" asp-controller="Autentifikacija" asp-action="Logout">@user.KorisnickoIme, Logout</a>
                        </li>
                    }
                    else if (user == null)
                    {
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Početna</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("Index","Registracija")">Registracija</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-controller="Autentifikacija" asp-action="Index">Login</a></li>

                    }

                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead bg-info text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!--SLIDER -->
            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                <div class="carousel-fade">
                    <div class="carousel-item active" data-interval="2000">
                        <img src="~/img/slider/1.png" class="d-block w-auto" alt="#">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                        <img src="~/img/slider/2.png" class="d-block w-auto" alt="#">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                        <img src="~/img/slider/3.png" class="d-block w-auto" alt="#">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                        <img src="~/img/slider/4.png" class="d-block w-auto" alt="#">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </header>


    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">


            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Preporučeni softver</h2>
            <br /><br />
            <!-- Portfolio Grid Items-->
            <div class="row">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-cart-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/img/cc.png" alt="" />
                        <center><p class="lead">CCleaner</p></center>
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-cart-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/img/sky.png" alt="" />
                        <center><p class="lead">Skype</p></center>
                    </div>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-cart-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/img/tw.png" alt="" />
                        <center><p class="lead">TeamViewer</p></center>
                    </div>
                </div>
                <!-- Portfolio Item 4-->
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-cart-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/img/vss.png" alt="" />
                        <center><p class="lead">Visual Studio</p></center>

                    </div>
                </div>
                <!-- Portfolio Item 5-->
                <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-cart-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/img/veg.png" alt="" />
                        <center><p class="lead">Sony Vegas Pro</p></center>

                    </div>
                </div>
                <!-- Portfolio Item 6-->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-cart-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/img/mf.png" alt="" />
                        <center><p class="lead">Mozila Firefox</p></center>

                    </div>
                </div>
                <!-- Portfolio Item 7-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal7">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-cart-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/img/df.png" alt="" />
                        <center><p class="lead">Disc Defraggler</p></center>

                    </div>
                </div>
                <!-- Portfolio Item 8-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal8">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-cart-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/img/ae.png" alt="" />
                        <center><p class="lead">Adobe After Effects</p></center>

                    </div>
                </div>
                <!-- Portfolio Item 9-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal9">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-cart-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/img/vs.png" alt="" />
                        <center><p class="lead">Visual Studio Code</p></center>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section-->
    <section class="page-section bg-info text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto"><p class="lead">Prodaja Softvera je besplatna platforma kreirana od strane Startup-a. Na ovoj platformi možete pronaći kako besplatne programe, alate i igrice tako i komercijalne, kao i one koje su tek najavljene.</p></div>
                <div class="col-lg-4 mr-auto"><p class="lead">Mozete kreirati svoj vlastiti profil, dodjeliti mu avatara, dodati svoju email adresu i kontakt informacije i započeti pretragu i kupovinu!</p></div>
            </div>

        </div>
    </section>
    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Registracija</h2>

            <!-- Contact Section Form-->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">



                        <br />
                        <div id="success"></div>
                        <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Prijavi</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Lokacija</h4>
                    <p class="lead mb-0">
                        Bosna i Hercegovina,
                        <br />
                        Mostar 88000
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Zapratite nas</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">O nama</h4>
                    <p class="lead mb-0">
                        Platforma Prodaja Softvera je besplatna za korištenje, softveri, igre, developer alati...
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © Prodaja Softvera 2020</small></div>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- Portfolio Modals-->
    <!-- Portfolio Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">CCleaner</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="~/img/cc2.png" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Speed up and optimize your PC wiht CCleaner. CCleaner has been downloaded over 2.5 billion times! Gives your PC a complete Health Check.</p>

                                <a asp-controller="Autentifikacija" asp-action="Index" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Kupi</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Skype</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="~/img/sky2.png" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Meet now on Skype. Host a video meeting in one click! No sing ups. No download required.</p>
                                <a asp-controller="Autentifikacija" asp-action="Index" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Kupi</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">TeamViewer</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="~/img/tw2.png" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Remote Access and Support.Control, manage, monitor and repair computers, mobile devices, network machines and more...</p>
                                <a asp-controller="Autentifikacija" asp-action="Index" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Kupi</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 4-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Visual Studio</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="~/img/vs2.png" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Connect globally. Join locally. Join us for our digital event experience on September 22-24, 2020.</p>
                                <a asp-controller="Autentifikacija" asp-action="Index" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Kupi</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 5-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Sony Vegas Pro</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="~/img/veg2.png" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Cutting-edge video production. Faster, more creative, endless possibilities.</p>
                                <a asp-controller="Autentifikacija" asp-action="Index" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Kupi</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 6-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Mozila Firefox</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="~/img/mf2.png" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Preuzmi najnoviji Firefox preglednik. Automatska privatnost je stigla. Preuzmi Firefox i blokiraj preko 2000 programa za praćenje!</p>
                                <a asp-controller="Autentifikacija" asp-action="Index" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Kupi</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 7-->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-labelledby="portfolioModal7Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Disc Defraggler</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="~/img/df2.png" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Speed up your PC with quick and easy defragmentation. Defrag entire hard drives or individual files. Works with HDD and SSD and suports NTFS and FAT32 file systems!</p>
                                <a asp-controller="Autentifikacija" asp-action="Index" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Kupi</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 8-->
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-labelledby="portfolioModal8Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Adobe After Effects</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="~/img/ae2.png" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Make a big scene bigger. Get After Effects as part of Adobe Creative Cloud for free trial!</p>
                                <a asp-controller="Autentifikacija" asp-action="Index" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Kupi</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 9-->
    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-labelledby="portfolioModal9Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Visual Studio Code</h2>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="~/img/vss2.png" alt="" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Code editing. Redefined. Free, Built on open source. Runs everywhere.</p>
                                <a asp-controller="Autentifikacija" asp-action="Index" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Kupi</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    <!-- JQuery (bootstrat JavaScript plugins)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
