@using Prodaja_Softvera_ver3.Web.Areas.AdministratorModul.ViewModels
@model cloudscribe.Pagination.Models.PagedResult<SoftverIndexVM.Row>
@addTagHelper *, cloudscribe.Web.Pagination

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "AdminSoftver";
    ViewData["Action"] = "Index";

    var porukaSuccess = (string)TempData["porukaSuccess"];
    var porukaWarning = (string)TempData["porukaWarning"];
    var porukaError = (string)TempData["porukaError"];

    Layout = "~/Areas/AdministratorModul/Views/Shared/_Layout.cshtml";
}



    <div class="content-wrapper p-4">

        @if (porukaError != null)
        {
            <div class="alert alert-danger" role="alert" id="porukaBox">
                @porukaError
            </div>
        }

        @if (porukaWarning != null)
        {
            <div class="alert alert-warning" role="alert" id="porukaBox">
                @porukaWarning
            </div>
        }

        @if (porukaSuccess != null)
        {
            <div class="alert alert-success" role="alert" id="porukaBox">
                @porukaSuccess
            </div>
        }



        <p class="h1">Prikaz softvera:</p>
        <form>
            <div class="row">
                <div class="col-md-5">
                    <input name="pretragaString" class="form-control" placeholder="Unesite naziv softvera" />
                </div>
                <div class="col-md-2">
                    <button style="width:50px" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    <button style="width:50px" class="btn btn-primary" asp-action="Index">
                        <i class="fa fa-times-circle"></i>
                    </button>
                    <br /><br />
                </div>
            </div>
        </form>


        <table class="table table-striped border">
            <thead class="thead-dark">
                <tr>
                    <th> Naziv </th>
                    <th> Verzija </th>
                    <th> Cijena </th>
                    <th> Tip softvera </th>
                    <th> Specifikacije </th>
                    <th> Akcija </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Data)
                {
                    <tr>
                        <td>@x.Naziv</td>
                        <td>@x.Verzija</td>
                        <td>@x.Cijena KM</td>
                        <td>
                            @if (x.TipSoftvera == null)
                            {
                                <label>Nema zapisa</label>
                            }
                            else
                            {
                                <label>@x.TipSoftvera</label>
                            }
                        </td>
                        <td>
                            @if (x.Specifikacija == null)
                            {
                                <label>Nema zapisa</label>
                            }
                            else
                            {
                                <label>@x.Specifikacija</label>
                            }
                        </td>


                        <td>
                            <a asp-action="Obrisi" asp-controller="AdminSoftver" asp-area="AdministratorModul" asp-route-id="@x.SoftverID" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
                            <br /><br />
                            <a asp-action="Detalji" asp-controller="AdminSoftver" asp-area="AdministratorModul" asp-route-id="@x.SoftverID" class="btn btn-outline-primary btn-sm"><i class="fa fa-info"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_PaginationPartial" view-data="ViewData" model="Model" />

    </div>
