@using Prodaja_Softvera_ver3.Web.Areas.AdministratorModul.ViewModels

@{
    ViewData["Title"] = "Index";
    var porukaSuccess = (string)TempData["porukaSuccess"];
    var porukaWarning = (string)TempData["porukaWarning"];
    var porukaError = (string)TempData["porukaError"];
    Layout = "~/Areas/AdministratorModul/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper p-4">
    @if (porukaError != null)
    {
        <div class="alert alert-danger" role="alert" id="porukaBox">
            @porukaError
        </div>
    }

    @if (porukaWarning != null)
    {
        <div class="alert alert-warning" role="alert" id="porukaBox">
            @porukaWarning
        </div>
    }

    @if (porukaSuccess != null)
    {
        <div class="alert alert-success" role="alert" id="porukaBox">
            @porukaSuccess
        </div>
    }

    <h1 class="display-4">Prikaz Klijenta:</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Naziv</th>
                <th>Adresa</th>
                <th>Email</th>
                <th>Kontakt broj</th>
                <th>Datum rodjenja</th>
                <th>Grad</th>
                <th>BrojSoftvera</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.rows)
            {
                <tr>
                    <td>@x.Naziv</td>
                    <td>@x.Adresa</td>
                    <td>@x.Email</td>
                    <td>@x.Kontakt_broj</td>
                    <td>@x.Datum_rodjenja</td>
                    <td>@x.Grad</td>
                    <td>

                        <label>@x.BrojSoftvera</label>

                    </td>
                    <td>

                        <a asp-action="Detalji" asp-controller="Klijent" asp-area="AdministratorModul" asp-route-id="@x.KlijentID" class="btn btn-outline-primary btn-sm"><i class="fa fa-info"></i></a>
                        <br /><br />
                        <a asp-action="Obrisi" asp-controller="Klijent" asp-area="AdministratorModul" asp-route-id="@x.KlijentID" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

